.container{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.box-div{
    display: block;
    height: 50px;
    width: 50px;
    background-color: crimson
    
}